body {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}


section {
    background-color: rgb(3, 0, 57);
    padding: 2rem;
    margin-top: 2rem;
    border: 2px solid #32C8C8;
    
}

h1 {
    color:#32C8C8;
    text-align: center;
}

h2 {
    color:#32C8C8;
    text-align: center;
}

h3 {
    color:#32C8C8;    
}

h4 {
    color:#32C8C8;
}

h5 {
    color:#32C8C8;
}